.div-contents-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 450px;
    position: relative;
    top: -70px;
    width: 95vw;
}

.div-content-venda {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    width: fit-content;
    background-color: #fff;
    border-radius: 12px;
    height: 100%;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    gap: 40px;
    padding: 55px;
}

.formataçãoInput{
    display: flex;
    gap: 5px;
}

.div-title-venda {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.div-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.vehicleTitle, #mirror-select-marca, #mirror-input-modelo{
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    &.marca {
        color: var(--cor-texto);
    }
}
#select-marca {
    width: 30%;
}

#input-modelo {
    width: 45%;
}

#input-placa, #mirror-input-placa {
    text-transform: uppercase;
}

#mirror-select-marca { 
    color: var(--cor-texto);
}

#editarAnuncio.fa-pencil, #editarAnuncio.fa-xmark { 
    display: none;
    background-color: #ECEDF2;
    color: var(--roxo);
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    box-sizing: border-box;
    &:hover {
        scale: 1.1;
    }
}
#editarAnuncio.fa-xmark {
    font-size: 25px;
    padding-top: 22px;
}

.vehicleSub, #mirror-input-subtitle{
    background-color: transparent;
    border: none;
    color: #686976;
    font-weight: 400;
    display: block;
    width: 320px;
}

/* ul */
.itens-details {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    & div, input {
        width: 190px;
    }
}

.itemcss-title {
    font-size: 13px;
    color: #686976;
    font-weight: 400;
    margin: 0;
}

/* Tirando borda preta de todos os inputs quando */
input, select {
    outline: none;
    width: 100%;
}

.input-info, .input-mirror, .select-info, .select-mirror {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: transparent;
    border: none;
    margin-bottom: 3px;
}

input:not(:disabled) {
    margin-bottom: 2px;
    border-bottom: 1px solid var(--cor-texto-apagado);
}

select:not(:disabled) {
    margin-bottom: 2px;
    border-bottom: 1px solid var(--cor-texto-apagado);
}

.input-mirror,.select-mirror {
    display: none;
}

.item-1{
    width: 100%;
}

.div-content-vendas-pai{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-content-venda-filho {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    border-radius: 12px;
    gap: 20px;
    z-index: 2;
    padding: 30px;
    width: 399px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    justify-content: space-between;
    align-items: start;
}

.div-content-venda-filho2 {
    display: flex  ;
    text-align: left;
    background-color: #fff;
    border-radius: 12px;
    height: 44%;
    z-index: 2;
    width: 399px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Mensagens de alerta */

#divAlertMessage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 30px;
    right: 30px;
    gap: 20px;
    flex-direction: column;
}

.alertMessage {
    padding: 15px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--cor-bg-sec);
    border-radius: 10px;
}

.div-pai-banner-venda {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-preco {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    & p, input{
        color: var(--cor-texto) !important;
        font-size: 30px !important;
        font-weight: 500 !important;
        width: 100%;
    }
}

.container{
    width: 100%;
}

#barra-ano-select, #dash-cidade-select {
    display: none;
}

.div-buttons {
    display: none;
    width: 100%;
    gap: 10px;
    &.cliente{
        display: flex;
        & .salvar-btn {
            width: 100% !important;
        }
    }
    &.cancelar-reserva {
        width: 100%;
        & button {
            align-items: center;
            justify-content: center;
            width: 100%;
            display: flex;
            gap: 10px;
            & i {
                font-size: 1.2rem;
            }
        }
    }
    & .salvar-btn{
        width: 82%;
        height: 60px;
        border-radius: 12px ;
        border: none;
        font-size: 17px;
        font-weight: 700;
        color: #fff;
        background-color: #6C1DE9;
        cursor: pointer;
        transition: 0.2s;
        &:disabled {
            background-color: #c6c6c6;
            cursor: not-allowed;    
            &:hover {
                scale: 1;   
            }
        }
    }
    & .salvar-btn:hover{
        scale: 1.03;
    }
    & .icon-trash {
        font-size: 2.1rem;
        color: var(--roxo);
        background-color: #ECEDF2;
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        cursor: pointer ;
        transition: 0.2s;
    }
    & .icon-trash:hover {
        scale: 1.07;
    }
}


#mensagem-adm {
    display: none;
}
.div-content-venda-filho .mensagem{
    font-size: 15px;
    color: #6C1DE9;
    font-weight: 500;
}

.color-1{
    color: #6C1DE9;
    font-size: 35px;
}

.circleLogo{
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--cor-bg-sec);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(108, 29, 233, 0.3);
}

.circleLogo img{
    width: 100px;
    height: auto;
    transition: 0.2s;
    cursor: pointer;
}   

.owl-carousel {
    width: 100%;
}

.circleLogo:hover{
    scale: 1.07;
}

.sec-marcas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    & .div-marcas {
        display: flex;
        gap: 20px;
        & div {
            transition: 0.2s;
            cursor: pointer;
            background-color: var(--cor-bg-sec);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 0 20px rgba(108, 29, 233, 0.3);
            & img {
                width: 100px;
                height: auto;
            }
            &:hover {
                scale: 1.07;
            }
        }
    }
}

.sec-modelos {
    margin-top: 65px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    & .div-modelos {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        
        & div::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            background-size: cover;
            background-position: center;
            transition: transform 0.25s ease-in-out;
        }
        
        & div:hover::before {
            transform: scale(1.1);
        }

        & div {
            cursor: pointer;
            width: 218px;
            height: 280px;
            border-radius: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 20px;
            position: relative;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            & .overlay {
                position: absolute;
                z-index: 1;
                height: 100%;
                width: 100%;
                background: linear-gradient(to top, rgba(0,0,0,0.45), rgba(0,0,0,0));
                left: 0;
                top: 0;
            }
            & p {
                font-size: 1.4rem;
                color: var(--cor-bg-sec);
                position: relative;
                z-index: 2;
            }
        }
    }
}
/* Carros */
.eletricos {
    background-image: url(../img/banner-carro/eletrico.webp);
}
.hatchback {
    background-image: url(../img/banner-carro/bannerPopular.jpg);
}
.picapes {
    background-image: url(../img/banner-carro/bannerPicapes.jpg);
}
.sedans {
    background-image: url(../img/banner-carro/bannerSedans.jpg);
}
.suvs {
    background-image: url(../img/banner-carro/bannerSUVs.png);
}

/* Motos */
.esportivas {
    background-image: url(../img/banner-moto/esportivas.jpg);
}
.street {
    background-image: url(../img/banner-moto/street.jpg);
}
.trail {
    background-image: url(../img/banner-moto/trail.avif);
}
.big-trail {
    background-image: url(../img/banner-moto/big-trail.jpg);
}
.supermoto {
    background-image: url(../img/banner-moto/supermoto.jpg);
}
.motocustom {
    background-image: url(../img/banner-moto/motocustom.png);
}

/* Fim do Main */


.svg{
    position: relative;
    top: 8px;
    right: -8px;
    cursor: pointer;
    transition: 0.2s;
}

.svg:hover{
    scale: 1.07;
}

.botao-carrossel {
    position: absolute;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.3s;
    z-index: 4;
    opacity: 0.7;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: 0.3s;
}

.right{
    top: 35%;
    right: 30px; 
}

.left{
    top: 35%;
    left: 30px; 
}

.botao-carrossel:hover {
    background-color: #dfdfe0;
    opacity: 1;
    scale: 1.03;
}

.botao-carrossel:active{
    scale: 1;
}

/* Modal Editar Imagens */
#overlay-bg {
    display: none;
    background-color: rgba(0,0,0,0.25);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-editar-imagem {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #FFF;
    padding: 50px 80px;
    padding-bottom: 280px;
    width: 650px;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
    & .titulo {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
    }
    & button {
        width: calc(100% - 160px);
        padding: 15px;
        border-radius: 999px;
        font-weight: 600;
        color: var(--cor-bg-sec);
        font-size: 1rem;
        position: absolute;
        bottom: 50px;
        border: none;
        background-color: var(--roxo);
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: var(--hover-roxo);
        }
    }
}

#closeModalEditarImagem {
    font-size: 1.6rem;
    position: absolute;
    top: 25px;
    right: 25px;
    color: var(--cor-texto);
    cursor: pointer;
}

#upload-imagem {
    display: none;
    /* Esconde o input padrão */
}

.upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    & i {
        font-size: 2.3rem;
        color: var(--cor-texto-apagado);
    }
}

.div-preview-container-pai {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 335px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    box-sizing: content-box;
    height: 100px;
    height: fit-content;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100px;
}

.preview-item {
    width: 100px;  
    height: 100px; 
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Pq isso ta aqui */
#select-marca {
    width: 290px;
}

@media (max-width:1420px) {
    .div-content-venda {
        padding-right: 0;
        padding-left: 45px;
    }
    .itens-details {
        grid-template-columns: repeat(3, 1fr);
    }

    .li-vazia-1 {
        display: none;
    }
}

@media (max-width: 1240px) {
    .div-contents-pai {
        flex-direction: column;
        height: fit-content;
    }

    .div-title {
        & input {    
            width: 45%;
        }
    }

    .div-content-venda {
        width: 95vw;
    }

    .div-content-vendas-pai {
        flex-direction: row;
        height: 236px;
        width: 95vw;
        & .div-content-venda-filho {
            width: 65%;
        }
        & .div-content-venda-filho2 {
            width: 35%;
            height: 100%;
        }
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main {
        width: 90vw;
    }
    .sec-marcas {
        position: relative;
        left: -20px;
        width: 100%;
        & h4 {
            padding-left: 20px;
        }
        .div-carrossel {
            width: calc(100% + 20px);
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        & .div-marcas {
            padding: 15px;
            width: fit-content;
        }
    }
    .sec-modelos {
        width: 100%;
        .div-carrossel {
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        & .div-modelos {
            width: fit-content;
        }
    }
}

@media (max-width: 768px) {
    .sec-marcas {
        margin-top: 65px;
        & .div-marcas {
            & div {
                width: 110px;
                height: 110px;
                & img {
                    width: 75px;
                    height: auto;
                }
            }
        }
    }

    .sec-modelos {
        & .div-modelos {
            & div {
                width: 140px;
                height: 177px;
                & p {
                    font-size: 1.15rem;
                }
            }
        }
    }

    .div-contents-pai {
        position: relative;
        top: 0px;
    }

    /* Responsivo modal editar imagem */
    #modal-editar-imagem {
        width: 90%;
        & .titulo {
            font-size: 20px;
            text-align: center;
        }
        & .subtitulo {
            text-align: center;
        }
        & button {
            width: 80%;
        }
    }
    
    .upload-label {
        width: 200px;
    }
    
    .div-preview-container-pai {
        top: auto;
        bottom: 140px;
        width: 80%;
    }
    
    #preview-container {
        height: 70px;
    }
    
    .preview-item {
        width: 70px;  
        height: 70px;
    }

    #select-marca, #input-modelo {
        width: 100%;
    }

    .div-title {
        & input {    
            width: 100%;
        }
    }

    .div-buttons {
        .icon-trash {
            min-width: 60px;
        }
    }

    .itens-details {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        & div {
            width: 100%;
            & .itemcss-title {
                font-size: 12px;
            }
            & input, .input-mirror {
                width: 100% !important;
                height: fit-content;
                font-size: 14px;
            }
        }
    }

    #editarAnuncio {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .div-title {
        gap: 0;
        align-items: flex-start;
        flex-direction: column;
        .vehicleTitle, .input-mirror{
            font-size: 28px !important;
        }
    }
    
    .li-vazia-2 {
        display: none;
    }

    .div-pai-banner-venda {
        width: 95vw;
        height: fit-content;
    }

    .div-contents-pai {
        width: 100%;
    }

    .div-content-venda {
        width: 100%;
        position: relative;
        padding: 35px;
    }

    .div-content-vendas-pai {
        flex-direction: column;
        & .div-content-venda-filho {
            width: 100%;
            & .salvar-btn {
                font-size: 14px;
            }
        }
        & .div-content-venda-filho2 {
            width: 100%;
            padding: 25px 0;
        }
    }

    .sec-marcas {
        margin-top: 225px;
    }
    .sec-modelos {
        margin-top: 45px;
    }
    
    .vehicleSub, #mirror-input-subtitle {
        font-size: 13px;
    }

    #input-subtitle {
        width: 100%;
    }
    .circleLogo {
        width: 110px;
        height: 110px;
        & img {
            width: 75px;
            height: auto;
        }
    }
}

@media (max-width: 375px) {
    .div-content-venda {
        padding: 20px 25px;
    }
    .itens-details {
        & div {
            & .itemcss-title {
                font-size: 11px;
            }
            & input {
                font-size: 13px;
            }
        }
    }
    #mirror-input-subtitle {
        max-width: 100%;
    }

    /* Responsivo modal editar imagem */
    #modal-editar-imagem {
        width: 88%;
        padding-bottom: 270px;
        & .titulo {
            width: 150%;
            font-size: 16px;
            line-height: normal;
        }
    }

    .upload-label {
        width: 100%;
        height: 100px;
    }
}

/* Fim do responsivo */
    
