.div-contents-pai {
    display: flex;
    gap: 20px;
    height: 450px;
    position: relative;
    top: -70px;
}

.div-content-venda {
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    flex-direction: column;
    width: fit-content;
    background-color: #fff;
    border-radius: 12px;
    height: 100%;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    gap: 40px;
    padding: 55px;
}

.div-title-venda {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.div-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.vehicleTitle, #mirror-input-marca, #mirror-input-modelo-title{
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &.marca {
        color: var(--cor-texto);
    }
}
#mirror-input-marca { 
    color: var(--cor-texto);
}


#editarAnuncio { 
    display: none;
}

.fa-pencil {
    background-color: #ECEDF2;
    color: var(--roxo);
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        scale: 1.1;
    }
}

.vehicleSub, #mirror-input-subtitle{
    background-color: transparent;
    border: none;
    color: #686976;
    font-weight: 400;
    display: block;
    width: 320px;
}

/* ul */
.itens-details {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    & li, input {
        width: 190px;
    }
}

.itemcss-title {
    font-size: 13px;
    color: #686976;
    font-weight: 400;
    margin: 0;
}

/* Tirando borda preta de todos os inputs quando */
input {
    outline: none;
}

.input-info, .input-mirror {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: transparent;
    border: none;
    margin-bottom: 3px;
}

input:not(:disabled) {
    margin-bottom: 2px;
    border-bottom: 1px solid var(--cor-texto-apagado);
}

.input-mirror {
    display: none;
}

.item-1{
    width: 100%;
}

.div-content-vendas-pai{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-content-venda-filho {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    border-radius: 12px;
    gap: 20px;
    z-index: 2;
    padding: 30px;
    width: 399px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    justify-content: space-between;
    align-items: start;
}

.div-content-venda-filho2 {
    display: flex  ;
    text-align: left;
    background-color: #fff;
    border-radius: 12px;
    height: 44%;
    z-index: 2;
    width: 399px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.div-pai-banner-venda {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-preco {
    display: flex;
    justify-self: center;
    align-items: center;
    & p, input{
        color: var(--cor-texto) !important;
        font-size: 30px !important;
        font-weight: 500 !important;
        max-width: 200px;
    }
}

.container{
    width: 100vw;
}

.div-buttons {
    display: none;
    width: 100%;
    gap: 10px;
    &.cliente {
        display: flex;
        & .salvar-btn {
            width: 100% !important;
        }
    }
    & .salvar-btn{
        width: 82%;
        height: 60px;
        border-radius: 12px ;
        border: none;
        font-size: 17px;
        font-weight: 700;
        color: #fff;
        background-color: #6C1DE9;
        cursor: pointer;
        transition: 0.2s;
    }
    & .salvar-btn:hover{
        scale: 1.03;
    }
    & .icon-trash {
        font-size: 2.1rem;
        color: var(--roxo);
        background-color: #ECEDF2;
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        cursor: pointer ;
        transition: 0.2s;
    }
    & .icon-trash:hover {
        scale: 1.07;
    }
}


#mensagem-adm {
    display: none;
}
.div-content-venda-filho .mensagem{
    font-size: 15px;
    color: #6C1DE9;
    font-weight: 500;
}

.color-1{
    color: #6C1DE9;
    font-size: 35px;
}

.circleLogo{
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--cor-bg-sec);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(108, 29, 233, 0.3);
}

.circleLogo img{
    width: 100px;
    height: auto;
    transition: 0.2s;
    cursor: pointer;
}   

.owl-next{
    font-size: 30px;
}

.circleLogo:hover{
    scale: 1.07;
}

.sec-marcas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    & .div-marcas {
        display: flex;
        gap: 20px;
        & div {
            transition: 0.2s;
            cursor: pointer;
            background-color: var(--cor-bg-sec);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 0 20px rgba(108, 29, 233, 0.3);
            & img {
                width: 100px;
                height: auto;
            }
            &:hover {
                scale: 1.07;
            }
        }
    }
}

.sec-modelos {
    margin-top: 65px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    & .div-modelos {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        
        & div::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            background-size: cover;
            background-position: center;
            transition: transform 0.25s ease-in-out;
        }
        
        & div:hover::before {
            transform: scale(1.1);
        }

        & div {
            cursor: pointer;
            width: 218px;
            height: 280px;
            border-radius: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 20px;
            position: relative;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            & .overlay {
                position: absolute;
                z-index: 1;
                height: 100%;
                width: 100%;
                background: linear-gradient(to top, rgba(0,0,0,0.45), rgba(0,0,0,0));
                left: 0;
                top: 0;
            }
            & p {
                font-size: 1.4rem;
                color: var(--cor-bg-sec);
                position: relative;
                z-index: 2;
            }
        }
    }
}

.eletricos {
    background-image: url(../img/eletrico.svg);
}
.populares {
    background-image: url(../img/bannerPopular.svg);
}

.picapes {
    background-image: url(../img/bannerPicapes.svg);
}
.sedans {
    background-image: url(../img/bannerSedans.svg);
}
.suvs {
    background-image: url(../img/bannerSUVs.svg);
}

.esportivas {
    background-image: url(../img/esportivas.png);
}
.populares-motos {
    background-image: url(../img/populares-motos.png);
}
.trail {
    background-image: url(../img/trail.png);
}
.big-trail {
    background-image: url(../img/big-trail.png);
}
.supermoto {
    background-image: url(../img/supermoto.png);
}

/* Fim do Main */


.svg{
    position: relative;
    top: 8px;
    right: -8px;
    cursor: pointer;
    transition: 0.2s;
}

.svg:hover{
    scale: 1.07;
}

@media (max-width:1420px) {
    .div-content-venda {
        padding-right: 0;
        padding-left: 45px;
    }
    .itens-details {
        grid-template-columns: repeat(3, 1fr);
    }

    .li-vazia-1 {
        display: none;
    }
}


@media (max-width: 1240px) {
    .div-contents-pai {
        flex-direction: column;
        height: fit-content;
    }

    .div-title {
        & input {    
            width: 45%;
        }
    }

    .div-content-vendas-pai {
        flex-direction: row;
        height: 236px;
        & .div-content-venda-filho {
            width: 65%;
        }
        & .div-content-venda-filho2 {
            width: 35%;
            height: 100%;
        }
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main {
        width: 90vw;
    }
    .sec-marcas {
        position: relative;
        left: -20px;
        width: 100%;
        & h4 {
            padding-left: 20px;
        }
        .div-carrossel {
            width: calc(100% + 20px);
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        & .div-marcas {
            padding: 15px;
            width: fit-content;
        }
    }
    .sec-modelos {
        width: 100%;
        .div-carrossel {
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        & .div-modelos {
            width: fit-content;
        }
    }
}

@media (max-width: 768px) {
    .sec-marcas {
        & .div-marcas {
            & div {
                width: 110px;
                height: 110px;
                & img {
                    width: 75px;
                    height: auto;
                }
            }
        }
    }

    .sec-modelos {
        & .div-modelos {
            & div {
                width: 140px;
                height: 177px;
                & p {
                    font-size: 1.15rem;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .div-title {
        & input {    
            width: 100%;
        }
    }

    .div-buttons {
        .icon-trash {
            min-width: 60px;
        }
    }

    .itens-details {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        & li {
            width: 100%;
            & .itemcss-title {
                font-size: 12px;
            }
            & input, .input-mirror {
                width: 100% !important;
                height: fit-content;
                font-size: 14px;
            }
        }
    }

    #editarAnuncio {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .div-title {
        gap: 0;
        align-items: flex-start;
        flex-direction: column;
        .vehicleTitle, .input-mirror{
            font-size: 28px !important;
        }
    }
    
    .li-vazia-2 {
        display: none;
    }

    .div-pai-banner-venda {
        width: 95vw;
        height: fit-content;
    }

    .div-contents-pai {
        width: 100%;
    }

    .div-content-venda {
        width: 100%;
        position: relative;
        padding: 35px;
    }

    .div-content-vendas-pai {
        flex-direction: column;
        & .div-content-venda-filho {
            width: 100%;
            & .salvar-btn {
                font-size: 14px;
            }
        }
        & .div-content-venda-filho2 {
            width: 100%;
            padding: 25px 0;
        }
    }

    .sec-marcas {
        margin-top: 180px;
    }
    .sec-modelos {
        margin-top: 45px;
    }
    
    .vehicleSub, #mirror-input-subtitle {
        font-size: 13px;
    }
    .circleLogo {
        width: 110px;
        height: 110px;
        & img {
            width: 75px;
            height: auto;
        }
    }
}

@media (max-width: 375px) {
    .div-content-venda {
        padding: 20px 25px;
    }
    .itens-details {
        & li {
            & .itemcss-title {
                font-size: 11px;
            }
            & input {
                font-size: 13px;
            }
        }
    }
    #mirror-input-subtitle {
        max-width: 100%;
    }
}

/* Fim do responsivo */
    
