@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --roxo: #6C1DE9;
    --hover-roxo: #5a19c1;
    --cor-bg: #ECEDF2;
    --cor-texto: #262627;
    --cor-texto-apagado: #AEAEBA;
    --cor-bg-sec: #FFFFFF;
    --cor-titles: #696977;
}
/* validação form */
.input {
    transition: border-color 0.3s ease;
}
.input.valido {
    border-color: #00ff00 !important;
}

body {
    background-color: var(--cor-bg);
}


/* Header */
header {
    width: 100%;
    background-color: var(--cor-bg-sec);
    display: flex;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.div-usuario {
    cursor: pointer;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding-left: 15px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    & i {
        font-size: 1.8rem;
        color: var(--cor-texto);
    }
    & p {
        font-size: 1.2rem;
        color: var(--cor-texto);
        font-weight: 600;
    }
}

.div-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 270px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    & img {
        width: auto;
        height: 25px;
    }
    & p,
    span {
        font-size: 2rem;
        font-family: "Racing Sans One", serif;
        color: var(--cor-texto);

    }
    & span {
        color: var(--roxo);
    }
}


h1 {
    font-size: 1.6rem;
    font-weight: 300;
    justify-self: flex-start;
}

.div-logo-title {
    display: flex;
    gap: 35px;
}

/* Menu NAV */

#barra-lateral {
    position: absolute;
    right: calc(100% - 282px);
    top: 64px;
    width: 282px;
    height: 100vh;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background: var(--cor-bg-sec);
    & nav {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        & a {
            cursor: pointer;
            padding-left: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--cor-titles);
            font-size: 1.1em;
            transition: 0.1s;
            &.selecionado {
                border-left: solid 4px var(--roxo);
                color: var(--cor-texto) !important;
                & i, a {
                    cursor: pointer;
                    color: var(--cor-texto);
                }
                &:hover {
                    border-left: solid 4px var(--roxo);
                }
            }
            &:hover {
                border-left: solid 4px var(--cor-titles);
            }
        }
    }

    & .perfil-usuario {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 180px;
        & i {
            font-size: 50px;
        }

        & h2 {
            font-size: 1.2rem;
            font-weight: normal;
        }
        & p {
            font-size: 0.8rem;
            font-weight: 300;
        }
    }

    & #fecharBarraLateral {
        display: none;
        position: absolute;
        cursor: pointer;
        top: 2px;
        right: 15px;
        font-size: 2.3rem;
    }
}

.sanduiche {
    display: none;
    width: 30px;
    flex-direction: column;
    gap: 5px;
    & .linha1, .linha2, .linha3 {
        border-radius: 10px;
        width: 100%;
        height: 4px;
        background-color: var(--cor-texto);
    }
}

.overlay-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    display: none;
}

@keyframes abrirBarraLateral {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes fecharBarraLateral {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@keyframes aparecerOverlay {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes sumirOverlay {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

/* Main - minha conta*/

main {
    display: flex;
    height: 87vh;
    /* Section */
    & .container {
        height: 100vh;
        width: calc(100% - 282px);
        position: absolute;
        right: 0;
        top: 52%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .container-minha-conta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        gap: 10px;
        height: 100%;
        & .informacoes-usuario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background: var(--cor-bg-sec);
            padding: 30px 40PX;
            border-radius: 20px;
            & h3 {
                font-size: 1.15rem;
                font-weight: 400;
            }
            & form {
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                position: relative;
                gap: 20px;
                width: 550px;
                & .container-input {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;
                    position: relative;
                    &:focus-within label {
                        top: 0;
                        color: var(--roxo);
                        font-size: 0.75rem;
                        background-color: var(--cor-bg-sec);
                        z-index: 3;
                        padding: 0 3px;
                    }
                }
                & label {
                    font-size: 0.9rem;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    background: var(--cor-bg-sec);
                    padding: 0 5px;
                    transition: all 0.2s ease-in-out;
                    z-index: 1;
                    color: var(--cor-titles);
                    &.active, &.date {
                        color: var(--cor-texto-apagado);
                        top: 0;
                        font-size: 0.75rem;
                        z-index: 3;
                        padding: 0 3px;
                    }
                }

                & input {
                    position: relative;
                    z-index: 2;
                    background-color: transparent;
                    padding: 9px;
                    font-size: 15px;
                    border-radius: 10px;
                    border: 1px solid var(--cor-texto-apagado);
                    outline: none;
                    &:hover {
                        border: 1px solid var(--roxo);
                    }
                    &:focus {
                        border: 1px solid var(--roxo);
                    }
                }

                & button {
                    background: var(--roxo);
                    color: var(--cor-bg-sec);
                    border: none;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover {
                        background-color: var(--hover-roxo);
                    }
                }
            }

        }
    }
}

/* Fim do CSS da div Minha Conta (Que é a mesma para todos os usuários) */


/* DIVS PERFIL CLIENTE */

#minha-conta {
    display: flex;
}

#historico-compras, #reservas {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 84%;
    & h3 {
        font-size: 1.4rem;
    }
    & .div-carrossel {
        width: calc(100%);
        overflow: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    & .conteudo {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        justify-content: center;
    }
}

/* Card Padrão */
.card{
    background: var(--cor-bg-sec);
    width: 300px;
    height: 470px;
    border-radius: 10px;
    & img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    } & .itens-card{
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        gap: 15px;
        & h3{
            font-size: 1.5rem;
            font-weight: 600;
        } & p{
            font-size: 0.8rem;
            color: var(--cor-titles);
            font-weight: 400;
        } & button{
            background: var(--roxo);
            color: var(--cor-bg-sec);
            padding: 12px;
            font-weight: 40000;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: var(--hover-roxo);
            }
        }& .container-info-card{
            color: var(--cor-titles);
            display: flex;
            gap: 10px;
            align-items: center;
            & .info-card{
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
    }
}

/* END DIVS PERFIL CLIENTE */



/* DIVS PERFIL VENDEDOR */

/* 

POR ENQUANTO NÃO TEM NENHUMA DIV, APENAS A MINHA CONTA QUE É PADRÃO

*/

/* END DIVS PERFIL VENDEDOR */



/* DIVS ADMINISTRADOR */

.container-relatorios{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    & .relatorios {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: var(--cor-bg-sec);
        cursor: pointer;
        padding: 20px;
        border-radius: 10px;
        color: var(--cor-texto);
        transition: 0.2s ease-in;
        &:hover{
            background-color: var(--roxo);
            color: var(--cor-bg-sec);
        }
    }
}

/* END DIVS ADMINISTRADOR */

/* Div Alert Message */

#divAlertMessage {
    display: none;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 9999999;
    top: 30px;
    right: 30px;
    gap: 20px;
    flex-direction: column;
}

.alertMessage {
    padding: 15px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--cor-bg-sec);
    border-radius: 10px;
}

/* Footer */
footer {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    & .div-contato {
        background-color: var(--roxo);
        padding: 40px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        width: inherit;
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            & .footer-title {
                color: var(--cor-bg-sec);
                font-weight: 600;
            }
            & .footer-text {
                color: var(--cor-bg-sec);
                font-weight: 300;
                font-size: 0.85rem;
                cursor: pointer;
                transition: 0.1s;
                padding: 10px 0;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    & .div-logo {
        padding: 15px 0;
        background-color: var(--cor-bg-sec);
        width: inherit;
    }
    & .div-direitos-reservados {
        padding: 10px 0;
        width: inherit;
        background-color: var(--cor-texto);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        & p {
            color: var(--cor-bg-sec);
            font-size: 0.85rem;
        }
        & .net {
            color: var(--roxo);
            font-family: "Racing Sans One", serif;

        }
        & .cars {
            color: var(--cor-bg-sec);
            font-family: "Racing Sans One", serif;
        }
    }
}
/* Fim do Footer */


/* Responsivo Header - Footer */

@media (max-width: 980px) {
    header {
        padding: 12px 20px;
        & .div-logo-title {
            gap: 20px;
            align-items: center;
            justify-content: center;
            & h1 {
                font-size: 1.4rem;
            }
        }
        & .div-logo {
            width: fit-content;
            padding-right: 23px;
        }
        & .sanduiche {
            display: flex;
        }
    }

    #barra-lateral {
        display: none;
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 9999;
        justify-content: center;
        & #fecharBarraLateral {
            display: flex;
        }
        & nav {
            & a {
                padding: 0 15px 0 0;
                flex-direction: row-reverse;
                align-items: center;
                height: 30px;
            }
        }
    }

    main .container {
        width: 100%;
    }
}

@media (max-width: 660px) {
    header {
        height: 64px;
        padding: 12px 25px;
        & .div-logo {
            margin: 0;
            border: none;
            padding: 0;
            & p, span {
                font-size: 28px;
            }
        }
        & h1 {
            display: none;
        }
    }

    main .container-minha-conta {
        width: 92vw;
        & .informacoes-usuario {
            padding: 25px;
            & h3 {
                font-size: 1.1rem;
                text-align: center;
            }
            & form {
                width: 100%;
                & .container-input {
                    &:focus-within label {
                        font-size: 0.65rem;
                    }
                }
                & label {
                    font-size: 0.75rem;
                    &.active, &.date {
                        font-size: 0.65rem;
                    }
                }
                & input {
                    padding: 7px 10px;
                    font-size: 12px;
                }
                & button {
                    font-size: 0.75rem;
                }
            }
        }
    }

    /* RESPONSIVO DIVS ADMINISTRADOR */

    .container-relatorios{
        flex-direction: column;
        padding: 0;
        width: 250px;
        & .relatorios {
            width: 100%;
        }
    }

    /* END RESPONSIVO DIVS ADMINISTRADOR */

    .card {
        width: 275px !important;
        height: fit-content !important;
        & .itens-card{
            padding-bottom: 20px;
            gap: 10px;
            & h3{
                font-size: 1.3rem !important;
            } & p{
                font-size: 0.75rem;
            } & button{
                font-size: 0.9rem;
                padding: 12px;
            }& .container-info-card{
                & .info-card{
                    & p, i {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    footer {
        & .div-contato {
            align-items: center;
            gap: 50px;
            flex-direction: column;
            & div {
                align-items: center;
            }
        }
    }
}

/* Fim do responsivo */